#popup_body{min-width:300px;max-width:300px;margin:0;padding:0;background-color:#F9F9F9;-webkit-user-select:none;color:#bbb}
#popup_container{width:100%;height:100%;padding:10px;overflow:hidden}
#popup_container #qrcodeBox{position:relative;width:278px;height:278px;text-align:center;color:#666;border:1px solid rgba(120,130,140,.25)}
#popup_container #qrText{display:block;margin:120px auto}
#popup_container canvas{position:absolute;top:50%;left:50%;margin-left:-115px;margin-top:-115px}